<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">home</a></li>
                <li><a href="{{ url_for('login')}}">login</a></li>
                <li><a href="{{ url_for('register')}}">register</a></li>
            </ul>
        </nav>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </body>
</html>
